[Desktop Entry]
Version=1.0
Type=Application
Name=케인 방송 바로가기
Name[en]=Kane Stream
Comment=케인 치지직 방송 바로가기
Exec=python3 /usr/local/bin/Mtefox.py https://m.chzzk.naver.com/7b1acb37b35928ff690d011296a9e5ab
Icon=/usr/share/jan-os/kane-stream.png
Terminal=false
Categories=Network;
